# Build directories
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Executables
ftp_inspector

# Data Files
*.pcap
*.pcapng

# Extracted Output
extracted_*

# IDE settings
.vscode/
.idea/
